@import "./reset.css";
@import "./variables.css";

body {
  background-color: var(--backgroundPrimaryColor);
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.main-box {
  background-color: var(--backgroundSecondaryColor);
  width: 300px;
  border-radius: var(--space-xs);
  padding: var(--space-xl);
}

.title {
  color: var(--primaryColor);
  font-size: var(--size-xxxl);
  text-align: center;
}

.nav-list-box {
  display: flex;
  color: var(--primaryColor);
  justify-content: space-between;
  padding: var(--space-xl) 0 var(--space-xl) 0;
}

.add-task-box {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: var(--space-md);
  border-radius: var(--space-xxs);
  border-width: var(--space-xxxs);
  border-style: solid;
  border-color: var(--borderPrimaryColor);
  margin-bottom: var(--space-sm);
}

.error-border {
  border-color: var(--quaternaryColor);
}

.add-task-input {
  font-size: var(--size-md);
  border: none;
  outline: none;
}

.add-task-icon {
  cursor: pointer;
  color: var(--secondaryColor);
}

.title-error {
  font-family: var(--primaryFont);
  color: var(--quaternaryColor);
  margin: var(--space-xxs) 0 0 var(--space-xs);
  display: inline;
}

.network-error-box {
  margin-top:var(--space-sm);
  visibility: hidden;
}

.network-error-box p {
  text-align: center;
  font-family: var(--primaryFont);
  color: var(--quaternaryColor);
}

.edit-task-icon,
.delete-task-icon {
  visibility: hidden;
}

.task-box:hover .edit-task-icon {
  visibility: visible;
  color: var(--tertiaryColor);
}

.task-box:hover .delete-task-icon {
  visibility: visible;
  color: var(--quaternaryColor);
}

.task-box {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 3%;
  align-items: center;
  padding: var(--space-md);
  margin-top: var(--space-md);
  border: var(--space-xxxs) solid var(--borderPrimaryColor);
  border-radius: var(--space-xs);
}

.task-title {
  font-size: var(--size-lg);
}

h1,
a,
p,
input {
  font-family: var(--primaryFont);
}

@media screen and (min-width: 450px) {
  .main-box {
    width: 400px;
  }
}
